.mediumModal{
    width:60%
}
.actionTH{
    width:125px;
}

.moduleHeader{
    display: inline-block;margin: 0px
}
.moduleContainer{
    max-height: 750px;overflow: auto;margin-top: 20px
}
.m-t-20{
    margin-top: 20px
}